@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: local("☺"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.eot");
  src: local("☺"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("☺"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Bold";
  src: url("../fonts/Oswald-Bold.eot");
  src: local("☺"), url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.ttf") format("truetype"), url("../fonts/Oswald-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Light";
  src: url("../fonts/Oswald-Light.eot");
  src: local("☺"), url("../fonts/Oswald-Light.woff") format("woff"), url("../fonts/Oswald-Light.ttf") format("truetype"), url("../fonts/Oswald-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Medium";
  src: url("../fonts/Oswald-Medium.eot");
  src: local("☺"), url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.ttf") format("truetype"), url("../fonts/Oswald-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("../fonts/Oswald-Regular.eot");
  src: local("☺"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  font-family: "OpenSans-Light", sans-serif;
  background-color: #ffffff;
  color: #202020;
  font-size: 16px;
  line-height: 24px;
  cursor: default;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1185px;
  margin: 0 auto;
}

.section-title {
  position: relative;
  font-family: "Oswald-Bold", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 148%;
  letter-spacing: 3.072px;
  text-transform: capitalize;
  color: #252525;
}

.section-title::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 45px;
  border-bottom: 2px solid #252525;
}

.header {
  position: relative;
  color: #ffffff;
}

.header__background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__body {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  min-height: 654px;
}

@media (min-width: 728px) {
  .header__body {
    min-height: 874px;
  }
}

@media (min-width: 1185px) {
  .header__body {
    padding: 0;
    min-height: 904px;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 74px 0 0 0;
}

.header__menu-row-active {
  padding: 74px 10px 16px 10px !important;
  position: fixed;
  z-index: 4;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation-name: slideup;
          animation-name: slideup;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideup {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
    top: -37px;
  }
}

@keyframes slideup {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
    top: -37px;
  }
}

@media (min-width: 1185px) {
  .header__menu-row-active {
    padding: 74px 0 16px 0;
  }
}

.header__menu-row-default {
  padding: 74px 10px 16px 10px !important;
  position: fixed;
  z-index: 4;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation-name: slidedown;
          animation-name: slidedown;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slidedown {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
    top: -37px;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    top: 0;
  }
}

@keyframes slidedown {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
    top: -37px;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    top: 0;
  }
}

@media (min-width: 1185px) {
  .header__menu-row-default {
    padding: 74px 0 16px 0;
  }
}

.header__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-family: "Oswald-Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 83%;
  letter-spacing: 2.304px;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  margin: 0 60px 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__logo:hover {
  text-shadow: 0px 0px 10px #ffffff;
}

.header__burger-menu-button {
  margin: 0 10px 0 0;
  position: relative;
  top: auto;
  z-index: 3;
  width: 40px;
  height: 40px;
  border-bottom: 2.5px solid #4caf50;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  cursor: pointer;
}

.header__burger-menu-button:hover {
  width: 30px;
}

.header__burger-menu-button:active {
  width: 30px;
}

.header__burger-menu-button::before {
  content: "";
  position: absolute;
  z-index: 3;
  border-bottom: 2.5px solid #4caf50;
  width: 45px;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__burger-menu-button:hover:before {
  width: 50px;
}

.header__burger-menu-button:active:before {
  width: 50px;
}

.header__burger-menu-button::after {
  content: "";
  position: absolute;
  z-index: 3;
  border-bottom: 2.5px solid #4caf50;
  width: 25px;
  right: 0;
  bottom: 45%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__burger-menu-button:hover:after {
  width: 40px;
}

.header__burger-menu-button:active:after {
  width: 40px;
}

@media (min-width: 728px) {
  .header__burger-menu-button {
    display: none;
  }
}

.header__menu {
  display: none;
}

@media (min-width: 728px) {
  .header__menu {
    display: block;
    top: auto;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    position: relative;
    background-color: transparent;
  }
}

.header__burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 728px) {
  .header__burger-menu {
    display: none;
  }
}

.header__messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  margin: 110px 0 0 0;
}

@media (min-width: 528px) {
  .header__messages {
    margin: 90px 0 0 0;
  }
}

@media (min-width: 728px) {
  .header__messages {
    margin: 0;
  }
}

.header__message {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__slogan {
  font-family: "Oswald-Medium", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 148.6%;
  letter-spacing: 4.608px;
  text-transform: uppercase;
  margin: 0 0 24.5px 0;
  text-align: center;
}

@media (min-width: 450px) {
  .header__slogan {
    max-width: 74%;
    font-size: 38px;
  }
}

@media (min-width: 850px) {
  .header__slogan {
    font-size: 42px;
  }
}

@media (min-width: 850px) {
  .header__slogan {
    font-size: 52px;
  }
}

@media (min-width: 1122px) {
  .header__slogan {
    max-width: 100%;
    font-size: 72px;
  }
}

.header__subslogan {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 1.28px;
  text-align: center;
}

@media (min-width: 400px) {
  .header__subslogan {
    max-width: 75%;
  }
}

@media (min-width: 728px) {
  .header__subslogan {
    max-width: 100%;
    font-size: 20px;
  }
}

.header__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 24px 0;
}

.header__tab {
  font-family: "Oswald-Blold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1.152px;
  color: rgba(255, 255, 255, 0.437245);
  margin: 0 8.99px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__tab:hover {
  color: #ffffff;
}

.header__tabs .header__tab:last-child {
  margin: 0;
}

.header__tab-active {
  position: relative;
  z-index: 2;
  top: 2.5px;
  font-family: "Oswald-Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 147.222%;
  letter-spacing: 2.304px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__tab-active::before {
  content: "";
  position: absolute;
  z-index: 2;
  border-bottom: 2px solid #4caf50;
  width: 35%;
  right: 70%;
  bottom: 45%;
}

.header__tab-active::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-bottom: 2px solid #4caf50;
  width: 54.7%;
  left: 48.5%;
  bottom: 45%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 150px 50px 20px 50px;
  background-color: #000000;
  -webkit-box-shadow: 0px 0px 0.3px 1px #4caf50;
          box-shadow: 0px 0px 0.3px 1px #4caf50;
}

@media (min-height: 600px) {
  .menu__list {
    padding: 200px 50px 200px 50px;
  }
}

@media (min-width: 728px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.menu__item {
  position: relative;
}

.menu__item:active {
  text-shadow: 0px 0px 5px #ffffff;
}

.menu__item::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #4caf50;
  width: 19.44px;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__item:last-child:before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #4caf50;
  width: 17.97px;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__item:hover:before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #4caf50;
  width: 117.03%;
  right: 0;
  bottom: 0;
}

@media (min-width: 728px) {
  .menu__item:not(:last-child) {
    margin: 0 58.31px 0 0;
  }
}

.menu__link {
  display: inline-block;
  font-family: "Oswald-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1.94px;
  color: #ffffff;
}

.we {
  padding: 80px 0 55px 0;
}

@media (min-width: 728px) {
  .we {
    padding: 139px 0 117px 0;
  }
}

.we__row {
  min-height: 559px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

@media (min-width: 728px) {
  .we__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1185px) {
  .we__row {
    padding: 0;
  }
}

.we__column {
  position: relative;
  width: 28.78%;
}

@media (min-width: 1185px) {
  .we__column {
    width: 28.78%;
  }
}

.we__column-first {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 65%;
}

@media (min-width: 728px) {
  .we__column-first {
    width: 33.333%;
  }
}

@media (min-width: 1024px) {
  .we__column-first {
    width: 28.78%;
  }
}

.we__item {
  position: relative;
  padding: 15% 0;
}

.we__item-first {
  padding: 24.65% 0;
}

.we__column:first-child > .we__item::before {
  display: block;
  content: "";
  position: absolute;
  top: -20px;
  left: 4.7%;
  width: 77.13%;
  border-bottom: 1px solid #c4c4c4;
}

.we__background-first {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 62.65%;
  width: 90.75%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: #f4f4f4;
}

.we__text {
  position: relative;
  z-index: 4;
}

.we__title {
  font-family: "Oswald-Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 147.222%;
  letter-spacing: 2.304px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 4px 0;
}

.we__subtitle {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 135.7%;
  letter-spacing: 2.688px;
  text-transform: uppercase;
  color: #504e4e;
  margin: 0 0 32px 0;
}

.we__message {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: 1.26px;
  color: #5b5858;
  padding: 0 0 0 41px;
}

.we__message::before {
  content: "";
  position: relative;
  display: block;
  z-index: 4;
  top: 15px;
  left: -30px;
  width: 20px;
  border-bottom: 2px solid #353535;
}

.we__column-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  position: relative;
  width: 100%;
}

@media (min-width: 720px) {
  .we__column-mid {
    z-index: 2;
    width: 33.333%;
  }
}

@media (min-width: 1024px) {
  .we__column-mid {
    width: 28.78%;
  }
}

.we__item-rectangle {
  position: absolute;
  margin: auto;
  top: -54px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 65%;
  height: 130px;
  background-color: rgba(76, 175, 80, 0.8);
}

@media (min-width: 490px) {
  .we__item-rectangle {
    top: -65px;
  }
}

@media (min-width: 640px) {
  .we__item-rectangle {
    top: -75px;
  }
}

@media (min-width: 728px) {
  .we__item-rectangle {
    top: 0;
    bottom: 0;
    width: 90.62%;
    height: 418px;
  }
}

.we__column-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 65%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 728px) {
  .we__column-last {
    width: 33.333%;
  }
}

@media (min-width: 1024px) {
  .we__column-last {
    width: 28.78%;
  }
}

.we__item-last {
  z-index: 3;
  padding: 65% 0 20% 0;
}

@media (min-width: 728px) {
  .we__item-last {
    z-index: 1;
  }
}

.we__background-second {
  position: absolute;
  top: 10px;
  left: -54.16%;
  width: 90.75%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  opacity: 0.5;
}

@media (min-width: 728px) {
  .we__background-second {
    left: -31.32%;
  }
}

@media (min-width: 1024px) {
  .we__background-second {
    left: -62.65%;
  }
}

.services {
  background-color: #fbfbfb;
  padding: 65px 10px;
}

@media (min-width: 1185px) {
  .services {
    padding: 135px 0 136px 0;
  }
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 728px) {
  .services__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services__title {
  margin: 0 0 30px 0;
}

@media (min-width: 728px) {
  .services__title {
    margin: 0 0 92px 0;
  }
}

.services__column {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 728px) {
  .services__column {
    position: relative;
    width: 31.577%;
  }
}

.services__column::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 0%;
  border-bottom: 3px solid #70bf73;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.services__column:hover:before {
  width: 100%;
}

.services__item {
  height: 100%;
  padding: 26px 25px 35px 25px;
}

@media (min-width: 728px) {
  .services__item {
    padding: 53px 49px 35px 43px;
  }
}

.services__service-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 16px 0;
}

.services__servise-title {
  position: relative;
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #252525;
}

.services__servise-title::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 35px;
  border-bottom: 2px solid #252525;
}

.services__service-icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px #dbdbdb;
          box-shadow: 0px 0px 20px #dbdbdb;
}

.services__service-icon > img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.25;
}

.services__service-text {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 208%;
  letter-spacing: 1.008px;
  color: #777777;
  margin: 0 0 19px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.services__service-link {
  display: inline-block;
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #252525;
  opacity: 0.5;
  padding: 5px 7px 5px 0;
}

@media (min-width: 728px) {
  .services__service-link {
    font-size: 10px;
    padding: 0;
  }
}

.services__service-link:hover {
  text-shadow: 0px 0px 1px #252525;
}

.works {
  padding: 50px 10px;
}

@media (min-width: 728px) {
  .works {
    padding: 164px 10px 117px 10px;
  }
}

@media (min-width: 1185px) {
  .works {
    padding: 164px 0 117px 0;
  }
}

.works__title {
  margin: 0 0 66px 0;
}

.works__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 0 30px 0;
}

@media (min-width: 728px) {
  .works__tabs {
    width: 46.33%;
    margin: 0 0 161px 0;
  }
}

.works__tab {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 138.5%;
  letter-spacing: 0.832px;
  text-transform: uppercase;
  color: #252525;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 0 15px 0;
}

@media (min-width: 728px) {
  .works__tab {
    margin: 0;
  }
}

.works__tab:hover {
  opacity: 0.8;
}

.works__tab-active {
  font-family: "OpenSans-LightItalic", sans-serif;
  font-weight: 300;
  font-style: italic;
  opacity: 1;
}

.works__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 728px) {
  .works__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.works__card {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 728px) {
  .works__card {
    width: 49.2%;
  }
}

.works__card-even {
  margin: 0 0 30px 0;
}

@media (min-width: 728px) {
  .works__card-even {
    margin: 0;
  }
}

.works__card-even > .card__image {
  left: 0;
}

.works__card-even > .card__text > .card__title {
  max-width: 42%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.works__card-even > .card__text > .card__body {
  margin: 0 12.5% 0 29.8%;
}

.works__card-odd {
  top: 0;
  margin: 0 0 30px 0;
}

@media (min-width: 728px) {
  .works__card-odd {
    top: -361px;
    margin: 0 0 177px 0;
  }
}

.works__card-odd > .card__image {
  right: 0;
}

.works__card-odd > .card__text > .card__title {
  max-width: 70.32%;
}

.works__card-odd > .card__text > .card__body {
  margin: 0 21.4% 0 21.06%;
  text-align: right;
}

.works__card-odd > .card__text > .card__body > .card__link {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.works__more {
  position: relative;
  bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Oswald-Regular", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 146.15%;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: #252525;
  cursor: pointer;
}

.works__more > span {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
}

.works__more > span::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  border-bottom: 3px solid #70bf73;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.works__more > span:hover:before {
  width: 100%;
}

.works__more-disabled {
  display: none;
}

.card {
  position: relative;
  overflow: hidden;
  padding: 22.65% 0 0 0;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.card__image {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 72%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.card__title {
  position: relative;
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 148%;
  letter-spacing: 3.072px;
  text-transform: uppercase;
  color: #252525;
  margin: 0 0 57px 0;
}

.card__title-active {
  -webkit-text-decoration: 3px line-through #70bf73;
          text-decoration: 3px line-through #70bf73;
  -webkit-animation-name: lineappear;
          animation-name: lineappear;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes lineappear {
  0% {
    -webkit-text-decoration: 3px line-through transparent;
            text-decoration: 3px line-through transparent;
  }
  100% {
    -webkit-text-decoration: 3px line-through #70bf73;
            text-decoration: 3px line-through #70bf73;
  }
}

@keyframes lineappear {
  0% {
    -webkit-text-decoration: 3px line-through transparent;
            text-decoration: 3px line-through transparent;
  }
  100% {
    -webkit-text-decoration: 3px line-through #70bf73;
            text-decoration: 3px line-through #70bf73;
  }
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__cathegory {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 138.89%;
  letter-spacing: 1.152px;
  text-transform: capitalize;
  color: #252525;
  margin: 0 0 17px 0;
}

.card__message {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.832px;
  color: #c2c2c2;
}

.card__link {
  display: block;
  overflow: hidden;
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 138.46%;
  letter-spacing: 0.832px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: transparent;
  margin: 20px 0 0 0;
}

.card__link-active {
  color: #252525;
  position: relative;
  font-size: 13px;
  margin: 20px 0 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link-active:hover {
  text-shadow: 0px 0px 5px #4caf50;
}

.card__link-active::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-bottom: 2px solid #4caf50;
  width: 0%;
  right: 66.25%;
  bottom: 45%;
  -webkit-transition: 0.1s 0.1s;
  transition: 0.1s 0.1s;
}

.card__link-active:hover:before {
  width: 33.75%;
}

.card__link-active::after {
  content: "";
  position: absolute;
  z-index: 3;
  border-bottom: 2px solid #4caf50;
  width: 0%;
  right: 0%;
  bottom: 45%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.card__link-active:hover:after {
  width: 66.25%;
  -webkit-transition: 0.1s 0.1s;
  transition: 0.1s 0.1s;
}

.team {
  background-color: #fbfbfb;
  padding: 30px 10px 30px 10px;
}

@media (min-width: 1185px) {
  .team {
    padding: 135px 0 167px 0;
  }
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 728px) {
  .team__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team__title {
  margin: 0 0 71px 0;
}

.team__column {
  width: 100%;
}

@media (min-width: 728px) {
  .team__column {
    width: 31.224%;
  }
}

.member {
  position: relative;
  padding: 65.2% 0 0 0;
  overflow: hidden;
}

.member__background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.member__info {
  min-height: 157.24px;
  position: relative;
  top: 100px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px 30px 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

.member__info-active {
  padding: 0 30px 30px 30px;
  background-color: rgba(255, 255, 255, 0.92);
  top: 100px;
  -webkit-animation-name: moveup;
          animation-name: moveup;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveup {
  0% {
    top: 100px;
  }
  100% {
    top: 0;
  }
}

@keyframes moveup {
  0% {
    top: 100px;
  }
  100% {
    top: 0;
  }
}

.member__info-default {
  background-color: rgba(255, 255, 255, 0.5);
  top: 100px;
  -webkit-animation-name: movedown;
          animation-name: movedown;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes movedown {
  0% {
    top: 0;
  }
  100% {
    top: 101px;
  }
}

@keyframes movedown {
  0% {
    top: 0;
  }
  100% {
    top: 101px;
  }
}

.member__name {
  position: relative;
  padding: 12px 0 0 0;
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1.152px;
  text-transform: uppercase;
  color: #252525;
  margin: 0 0 16.9px 0;
}

.member__name-active {
  padding: 19.34px 0 0 0;
}

.member__name-active::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: -8.9px;
  left: 0;
  right: 0;
  margin: auto;
  width: 45px;
  border-bottom: 2px solid #252525;
}

.member__role {
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 148.22%;
  letter-spacing: 1.152px;
  text-transform: capitalize;
  color: #252525;
  margin: 0 0 12px 0;
}

.member__slogan {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 208%;
  letter-spacing: 1.008px;
  color: #777777;
}

.testimonials {
  padding: 30px 10px;
}

.testimonials__row {
  position: relative;
}

.testimonials__row::after {
  content: "";
  position: absolute;
  z-index: +1;
  width: 43.12%;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom: 1px solid #d8d8d8;
  opacity: 0.5;
}

@media (min-width: 1185px) {
  .testimonials {
    padding: 117px 0;
  }
}

.slider__arrows {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider__arrow {
  display: inline-block;
  position: absolute;
  z-index: +1;
  bottom: 12px;
  width: 35px;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider__arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.slider__arrow:active {
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 728px) {
  .slider__arrow {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 20px;
    height: 40px;
  }
  .slider__arrow:hover {
    opacity: 0.7;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.slider__arrow-left {
  left: 0;
}

.slider__arrow-right {
  right: 0;
}

.slider__tape {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__item {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media (min-width: 728px) {
  .slider__item {
    padding: 0 18.4%;
  }
}

.slider__item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__testimonial {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 221%;
  letter-spacing: 0.896px;
  color: #373737;
  text-align: center;
  padding: 0 40px;
  margin: 0 0 31px 0;
}

@media (min-width: 728px) {
  .slide__testimonial {
    padding: 0;
  }
}

.slide__number {
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1.152px;
  color: #373737;
  opacity: 0.37;
  margin: 0 0 29px 0;
}

.slide__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 25px 0;
}

.slide__author-name {
  font-family: "Oswald-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1.152px;
  text-align: right;
  color: #373737;
  margin: 0 1ch 0 0;
}

.slide__author-role {
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1.152px;
  color: #373737;
  opacity: 0.37;
}

.slide__author-role::before {
  content: "/ ";
}

.slide__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide__rating-body {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slide__rating-items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.slide__rating-item {
  width: 24px;
  height: 15px;
}

.slide__rating-stars {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.slide__rating-star {
  width: 15px;
  height: 15px;
  margin: 0 9px 0 0;
  opacity: 0.5;
}

.slide__rating-star:last-child {
  margin: 0;
}

.slide__rating-star-active {
  opacity: 1;
}

.slide__rating-value {
  font-size: 0;
  line-height: 29px;
}

.cowork {
  position: relative;
  padding: 0 10px;
}

.cowork__color-left {
  height: 0;
}

@media (min-width: 728px) {
  .cowork__color-left {
    position: absolute;
    z-index: -1;
    height: 100%;
    right: 50%;
    width: 50%;
    background-color: #ffffff;
  }
}

.cowork__color-right {
  height: 0;
}

@media (min-width: 728px) {
  .cowork__color-right {
    position: absolute;
    z-index: -1;
    height: 100%;
    left: 50%;
    width: 50%;
    background-color: #70bd59;
  }
}

.cowork__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 728px) {
  .cowork__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cowork__column {
  text-align: center;
  width: 100%;
}

@media (min-width: 728px) {
  .cowork__column {
    width: 50%;
  }
}

.cowork__column-left {
  color: #373737;
}

@media (min-width: 728px) {
  .cowork__column-left {
    background-color: transparent;
  }
}

.cowork__column-right {
  color: #ffffff;
  background-color: #70bd59;
}

@media (min-width: 728px) {
  .cowork__column-right {
    background-color: transparent;
  }
}

.cowork__item {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1185px) {
  .cowork__item {
    padding: 69px 0 68px 0;
  }
}

.cowork__icon {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 0 19px 0;
}

.cowork__icon > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cowork__title {
  font-family: "Oswald-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 2.66667px;
  margin: 0 0 22px;
}

.cowork__subtitle {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 135.7%;
  letter-spacing: 1.55556px;
  opacity: 0.8;
  margin: 0 0 23px 0;
}

.cowork__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
  width: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cowork__next:hover {
  opacity: 0.7;
}

@media (min-width: 1185px) {
  .cowork {
    padding: 0;
  }
}

.footer {
  color: #ffffff;
}

.footer__row {
  padding: 83px 0 82px 0;
  background-color: #2e2e2e;
}

.footer__row:last-child {
  padding: 21px 0 20px 0;
  background-color: #252525;
}

.footer__item {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  font-family: "Oswald-Bold", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 62%;
  letter-spacing: 3.072px;
  margin: 0 0 29px 0;
}

.footer__address {
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 146.15%;
  letter-spacing: 0.832px;
  opacity: 0.5;
  margin: 0 0 10px 0;
}

.footer__contacts {
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 146.15%;
  letter-spacing: 0.832px;
  opacity: 0.5;
  margin: 0 0 39px 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 21px 0 0;
}

.footer__social-link > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__social-link:last-child {
  margin: 0;
}

.footer__copy {
  font-family: "Oswald-Light", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 146.15%;
  letter-spacing: 0.832px;
  opacity: 0.5;
}

.disabled {
  display: none;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.active {
  position: fixed;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slidein {
  0% {
    left: 100%;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes slidein {
  0% {
    left: 100%;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.unactive {
  -webkit-animation-name: slideout;
          animation-name: slideout;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideout {
  0% {
    left: 0;
    top: 38px;
  }
  100% {
    left: 100%;
    top: 38px;
  }
}

@keyframes slideout {
  0% {
    left: 0;
    top: 38px;
  }
  100% {
    left: 100%;
    top: 38px;
  }
}

.active-burger-button {
  -webkit-animation-name: slideleft;
          animation-name: slideleft;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideleft {
  0% {
    right: 0;
    top: auto;
  }
  100% {
    right: 40px;
    top: auto;
  }
}

@keyframes slideleft {
  0% {
    right: 0;
    top: auto;
  }
  100% {
    right: 40px;
    top: auto;
  }
}

.deactive-burger-button {
  -webkit-animation-name: slideback;
          animation-name: slideback;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideback {
  0% {
    right: 40px;
    top: auto;
  }
  100% {
    right: 0;
    top: auto;
  }
}

@keyframes slideback {
  0% {
    right: 40px;
    top: auto;
  }
  100% {
    right: 0;
    top: auto;
  }
}

.deactivated {
  pointer-events: none;
  position: relative;
  z-index: -1;
}
