@import "nullstyle.scss";
@import "fonts.scss";

body {
      height: 100%;
      font-family: "OpenSans-Light", sans-serif;
      background-color: #f4f4f4;
      color: #202020;
      font-size: 16px;
      line-height: 24px;
}

.wrapper {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
}

.container {
      max-width: 1185px;
      margin: 0 auto;
}

.section-title {
      position: relative;
      font-family: "Oswald-Bold", sans-serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 148%;
      letter-spacing: 3.072px;
      text-transform: capitalize;
      color: #252525;
}
.section-title::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 45px;
      border-bottom: 2px solid #252525;
}

// ----------------------------HEADER---------------------------------

.header {
      position: relative;
      color: #ffffff;

      &__background {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      &__body {
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 10px;
            min-height: 654px;
      }
      @media (min-width: 728px) {
            &__body {
                  min-height: 874px;
            }
      }
      @media (min-width: 1185px) {
            &__body {
                  padding: 0;
                  min-height: 904px;
            }
      }

      &__row {
            display: flex;
            align-items: center;
            justify-content: center;
      }

      &__menu-row {
            justify-content: space-between;
            padding: 74px 0 0 0;
      }

      &__menu-row-active {
            padding: 74px 10px 16px 10px !important;
            position: fixed;
            z-index: 4;
            width: 100%;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            animation-name: slideup;
            animation-timing-function: ease;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
      }
      @keyframes slideup {
            0% {
                  background-color: rgba(0, 0, 0, 0.1);
                  top: 0;
            }
            100% {
                  background-color: rgba(0, 0, 0, 0.7);
                  top: -37px;
            }
      }
      @media (min-width: 1185px) {
            &__menu-row-active {
                  padding: 74px 0 16px 0;
            }
      }

      &__menu-row-default {
            padding: 74px 10px 16px 10px !important;
            position: fixed;
            z-index: 4;
            width: 100%;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            animation-name: slidedown;
            animation-timing-function: ease;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
      }
      @keyframes slidedown {
            0% {
                  background-color: rgba(0, 0, 0, 0.7);
                  top: -37px;
            }
            100% {
                  background-color: rgba(0, 0, 0, 0);
                  top: 0;
            }
      }
      @media (min-width: 1185px) {
            &__menu-row-default {
                  padding: 74px 0 16px 0;
            }
      }

      &__menu-container {
            display: flex;
            justify-content: space-between;
      }

      &__column {
      }

      &__logo {
            font-family: "Oswald-Bold", sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 83%;
            letter-spacing: 2.304px;
            display: inline-block;
            color: #ffffff;
            cursor: pointer;
            margin: 0 60px 0 0;
            transition: 0.2s;
      }
      &__logo:hover {
            text-shadow: 0px 0px 10px #ffffff;
      }

      &__burger-menu-button {
            margin: 0 10px 0 0;
            position: relative;
            top: auto;
            z-index: 3;
            width: 40px;
            height: 40px;
            border-bottom: 2.5px solid #4caf50;
            transition: width 0.2s ease-out;
            cursor: pointer;
      }
      &__burger-menu-button:hover {
            width: 30px;
      }
      &__burger-menu-button:active {
            width: 30px;
      }
      &__burger-menu-button::before {
            content: "";
            position: absolute;
            z-index: 3;
            border-bottom: 2.5px solid #4caf50;
            width: 45px;
            right: 0;
            top: 0;
            transition: 0.4s;
      }
      &__burger-menu-button:hover:before {
            width: 50px;
      }
      &__burger-menu-button:active:before {
            width: 50px;
      }
      &__burger-menu-button::after {
            content: "";
            position: absolute;
            z-index: 3;
            border-bottom: 2.5px solid #4caf50;
            width: 25px;
            right: 0;
            bottom: 45%;
            transition: 0.3s;
      }
      &__burger-menu-button:hover:after {
            width: 40px;
      }
      &__burger-menu-button:active:after {
            width: 40px;
      }

      @media (min-width: 728px) {
            &__burger-menu-button {
                  display: none;
            }
      }

      &__menu {
            display: none;
      }
      @media (min-width: 728px) {
            &__menu {
                  display: block;
                  top: auto;
                  right: 0;
                  left: 0;
                  width: auto;
                  height: auto;
                  position: relative;
                  background-color: transparent;
            }
      }

      &__burger-menu {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100vh;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.5);
      }
      @media (min-width: 728px) {
            &__burger-menu {
                  display: none;
            }
      }

      &__messages {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            overflow: hidden;
            margin: 110px 0 0 0;
      }
      @media (min-width: 528px) {
            &__messages {
                  margin: 90px 0 0 0;
            }
      }
      @media (min-width: 728px) {
            &__messages {
                  margin: 0;
            }
      }

      &__message {
            position: relative;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }

      &__slogan {
            font-family: "Oswald-Medium", sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 148.6%;
            letter-spacing: 4.608px;
            text-transform: uppercase;
            margin: 0 0 24.5px 0;
            text-align: center;
      }
      @media (min-width: 450px) {
            &__slogan {
                  max-width: 74%;
                  font-size: 38px;
            }
      }
      @media (min-width: 850px) {
            &__slogan {
                  font-size: 42px;
            }
      }
      @media (min-width: 850px) {
            &__slogan {
                  font-size: 52px;
            }
      }
      @media (min-width: 1122px) {
            &__slogan {
                  max-width: 100%;
                  font-size: 72px;
            }
      }

      &__subslogan {
            font-family: "OpenSans-Regular", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 135%;
            letter-spacing: 1.28px;
            text-align: center;
      }
      @media (min-width: 400px) {
            &__subslogan {
                  max-width: 75%;
            }
      }
      @media (min-width: 728px) {
            &__subslogan {
                  max-width: 100%;
                  font-size: 20px;
            }
      }

      &__tabs {
            display: flex;
            justify-content: center;
            margin: 0 0 24px 0;
      }

      &__tab {
            font-family: "Oswald-Blold", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 1.152px;
            color: rgba(255, 255, 255, 0.437245);
            margin: 0 8.99px 0 0;
            display: flex;
            align-items: flex-end;
            cursor: pointer;
            transition: 0.2s;
      }
      &__tab:hover {
            color: #ffffff;
      }

      &__tabs &__tab:last-child {
            margin: 0;
      }

      &__tab-active {
            position: relative;
            z-index: 2;
            top: 2.5px;
            font-family: "Oswald-Bold", sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 147.222%;
            letter-spacing: 2.304px;
            color: #ffffff;
            display: flex;
            align-items: flex-end;
      }
      &__tab-active::before {
            content: "";
            position: absolute;
            z-index: 2;
            border-bottom: 2px solid #4caf50;
            width: 35%;
            right: 70%;
            bottom: 45%;
      }
      &__tab-active::after {
            content: "";
            position: absolute;
            z-index: -1;
            border-bottom: 2px solid #4caf50;
            width: 54.7%;
            left: 48.5%;
            bottom: 45%;
      }
}
.menu {
      &__list {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between;
            max-height: 100%;
            flex-wrap: wrap;
            padding: 150px 50px 20px 50px;
            background-color: #000000;
            box-shadow: 0px 0px 0.3px 1px #4caf50;
      }
      @media (min-height: 600px) {
            &__list {
                  padding: 200px 50px 200px 50px;
            }
      }
      @media (min-width: 728px) {
            &__list {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-end;
                  flex-wrap: wrap;
                  padding: 0;
                  background-color: transparent;
                  box-shadow: none;
            }
      }

      &__item {
            position: relative;
      }
      &__item:active {
            text-shadow: 0px 0px 5px #ffffff;
      }
      &__item::before {
            content: "";
            position: absolute;
            border-bottom: 2px solid #4caf50;
            width: 19.44px;
            right: 0;
            bottom: 0;
            transition: 0.2s;
      }
      &__item:last-child:before {
            content: "";
            position: absolute;
            border-bottom: 2px solid #4caf50;
            width: 17.97px;
            right: 0;
            bottom: 0;
            transition: 0.2s;
      }

      &__item:hover:before {
            content: "";
            position: absolute;
            border-bottom: 2px solid #4caf50;
            width: 117.03%;
            right: 0;
            bottom: 0;
      }

      @media (min-width: 728px) {
            &__item:not(:last-child) {
                  margin: 0 58.31px 0 0;
            }
      }

      &__link {
            display: inline-block;
            font-family: "Oswald-Regular", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 1.94px;
            color: #ffffff;
      }
}
// ---------------------------/HEADER---------------------------------
//
//
// -----------------------------------------MAIN-------------------------------------------
.we {
      padding: 80px 0 55px 0;
}
@media (min-width: 728px) {
      .we {
            padding: 139px 0 117px 0;
      }
}
.we {
      &__row {
            min-height: 559px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 10px;
      }
      @media (min-width: 728px) {
            &__row {
                  flex-direction: row;
            }
      }
      @media (min-width: 1185px) {
            &__row {
                  padding: 0;
            }
      }

      &__column {
            position: relative;
            width: 28.78%;
      }
      @media (min-width: 1185px) {
            &__column {
                  width: 28.78%;
            }
      }

      &__column-first {
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 65%;
      }
      @media (min-width: 728px) {
            &__column-first {
                  width: 33.333%;
            }
      }
      @media (min-width: 1024px) {
            &__column-first {
                  width: 28.78%;
            }
      }

      &__item {
            position: relative;
            padding: 15% 0;
      }

      &__item-first {
            padding: 24.65% 0;
      }

      &__column:first-child > &__item::before {
            display: block;
            content: "";
            position: absolute;
            top: -20px;
            left: 4.7%;
            width: 77.13%;
            border-bottom: 1px solid #c4c4c4;
      }

      &__background-first {
            position: absolute;
            z-index: -1;
            top: 10px;
            left: 62.65%;
            width: 90.75%;
            height: 100%;
            object-fit: cover;
            background: #f4f4f4;
      }

      &__text {
            position: relative;
            z-index: 4;
      }
      @media (min-width: 728px) {
            &__text {
                  // padding: 0 0 0 19px;
            }
      }

      &__title {
            font-family: "Oswald-Bold", sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 147.222%;
            letter-spacing: 2.304px;
            text-transform: uppercase;
            color: #333333;
            margin: 0 0 4px 0;
      }

      &__subtitle {
            font-family: "OpenSans-Light", sans-serif;
            font-weight: 300;
            font-size: 42px;
            line-height: 135.7%;
            letter-spacing: 2.688px;
            text-transform: uppercase;
            color: #504e4e;
            margin: 0 0 32px 0;
      }

      &__message {
            font-family: "OpenSans-Light", sans-serif;
            font-weight: 300;
            font-size: 15px;
            line-height: 167%;
            letter-spacing: 1.26px;
            color: #5b5858;
            padding: 0 0 0 41px;
      }
      &__message::before {
            content: "";
            position: relative;
            display: block;
            z-index: 4;
            top: 15px;
            left: -30px;
            width: 20px;
            border-bottom: 2px solid #353535;
      }

      &__column-mid {
            display: flex;
            align-items: center;
            z-index: 3;
            position: relative;
            width: 100%;
      }
      @media (min-width: 720px) {
            &__column-mid {
                  z-index: 2;
                  width: 33.333%;
            }
      }
      @media (min-width: 1024px) {
            &__column-mid {
                  width: 28.78%;
            }
      }

      &__item-rectangle {
            position: absolute;
            margin: auto;
            top: -54px;
            left: 0;
            right: 0;
            z-index: 2;
            width: 65%;
            height: 130px;
            background-color: rgba(76, 175, 80, 0.8);
      }
      @media (min-width: 490px) {
            &__item-rectangle {
                  top: -65px;
            }
      }
      @media (min-width: 640px) {
            &__item-rectangle {
                  top: -75px;
            }
      }
      @media (min-width: 728px) {
            &__item-rectangle {
                  top: 0;
                  bottom: 0;
                  width: 90.62%;
                  height: 418px;
            }
      }

      &__column-last {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 65%;
            align-self: flex-end;
      }
      @media (min-width: 728px) {
            &__column-last {
                  width: 33.333%;
            }
      }
      @media (min-width: 1024px) {
            &__column-last {
                  width: 28.78%;
            }
      }

      &__item-last {
            z-index: 3;
            padding: 65% 0 20% 0;
      }
      @media (min-width: 728px) {
            &__item-last {
                  z-index: 1;
            }
      }

      &__background-second {
            position: absolute;
            top: 10px;
            left: -54.16%;
            width: 90.75%;
            height: 100%;
            object-fit: cover;
            object-position: left;
            opacity: 0.5;
      }
      @media (min-width: 728px) {
            &__background-second {
                  left: -31.32%;
            }
      }
      @media (min-width: 1024px) {
            &__background-second {
                  left: -62.65%;
            }
      }
}

.services {
      padding: 65px 10px;
}
@media (min-width: 1185px) {
      .services {
            padding: 135px 0 136px 0;
      }
}
.services {
      &__row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
      }
      @media (min-width: 728px) {
            &__row {
                  flex-direction: row;
            }
      }

      &__title {
            margin: 0 0 30px 0;
      }
      @media (min-width: 728px) {
            &__title {
                  margin: 0 0 92px 0;
            }
      }

      &__column {
            position: relative;
            width: 90%;
            margin: 0 auto;
      }
      @media (min-width: 728px) {
            &__column {
                  position: relative;
                  width: 31.577%;
            }
      }

      &__column::before {
            position: absolute;
            content: "";
            bottom: 0;
            right: 0;
            width: 0%;
            border-bottom: 3px solid #70bf73;
            transition: 0.2s;
      }
      &__column:hover:before {
            width: 100%;
      }

      &__item {
            height: 100%;
            padding: 26px 25px 35px 25px;
      }
      @media (min-width: 728px) {
            &__item {
                  padding: 53px 49px 35px 43px;
            }
      }

      &__service-header {
            display: flex;
            justify-content: space-between;
            margin: 0 0 16px 0;
      }

      &__servise-title {
            position: relative;
            font-family: "Oswald-Light", sans-serif;
            font-weight: 300;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 1.28px;
            text-transform: uppercase;
            color: #252525;
      }
      &__servise-title::before {
            content: "";
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 35px;
            border-bottom: 2px solid #252525;
      }

      &__service-icon {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 0px 0px 20px #dbdbdb;
      }
      &__service-icon > img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 50%;
            height: 50%;
            object-fit: cover;
            opacity: 0.25;
      }

      &__service-text {
            font-family: "OpenSans-Regular", sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 208%;
            letter-spacing: 1.008px;
            color: #777777;
            margin: 0 0 19px 0;
            flex: 1 1 auto;
      }

      &__service-link {
            display: inline-block;
            font-family: "Oswald-Light", sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.64px;
            text-transform: uppercase;
            color: #252525;
            opacity: 0.5;
            padding: 5px 7px 5px 0;
      }
      @media (min-width: 728px) {
            &__service-link {
                  font-size: 10px;
                  padding: 0;
            }
      }
      &__service-link:hover {
            text-shadow: 0px 0px 1px #252525;
      }
}
.works {
      padding: 0 10px;
}
@media (min-width: 1185px) {
      .works {
            padding: 0;
      }
}
.works {
      &__row {
      }

      &__title {
            margin: 0 0 66px 0;
      }

      &__tabs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin: 0 0 30px 0;
      }
      @media (min-width: 728px) {
            &__tabs {
                  width: 46.33%;
                  margin: 0 0 161px 0;
            }
      }

      &__tab {
            font-family: "OpenSans-Regular", sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 138.5%;
            letter-spacing: 0.832px;
            text-transform: uppercase;
            color: #252525;
            opacity: 0.3;
            cursor: pointer;
            transition: 0.2s;
            margin: 0 0 15px 0;
      }
      @media (min-width: 728px) {
            &__tab {
                  margin: 0;
            }
      }
      &__tab:hover {
            opacity: 0.8;
      }

      &__tab-active {
            font-family: "OpenSans-LightItalic", sans-serif;
            font-weight: 300;
            font-style: italic;
            opacity: 1;
      }

      &__cards {
            display: flex;
            flex-direction: column;
      }
      @media (min-width: 728px) {
            &__cards {
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: space-between;
            }
      }

      &__card {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
      }
      @media (min-width: 728px) {
            &__card {
                  width: 49.2%;
            }
      }

      &__card-even {
            // background-color: rgba(61, 145, 58, 0.5);
            margin: 0 0 30px 0;
      }
      @media (min-width: 728px) {
            &__card-even {
                  margin: 0 0 137px 0;
            }
      }
      &__card-even > .card__image {
            left: 0;
      }
      &__card-even > .card__text > .card__title {
            max-width: 42%;
            align-self: flex-end;
      }
      &__card-even > .card__text > .card__body {
            margin: 0 12.5% 0 29.8%;
      }

      &__card-odd {
            // background-color: rgba(59, 57, 146, 0.5);
            top: 0;
            margin: 0 0 30px 0;
      }
      @media (min-width: 728px) {
            &__card-odd {
                  top: -361px;
                  margin: 0 0 177px 0;
            }
      }
      &__card-odd > .card__image {
            right: 0;
      }
      &__card-odd > .card__text > .card__title {
            max-width: 70.32%;
      }
      &__card-odd > .card__text > .card__body {
            margin: 0 21.4% 0 21.06%;
            text-align: right;
      }
      &__card-odd > .card__text > .card__body > .card__link {
            align-self: flex-end;
      }

      &__more {
            display: flex;
            justify-content: flex-end;
            font-family: "Oswald-Regular", sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 146.15%;
            letter-spacing: 2px;
            text-transform: lowercase;
            color: #252525;
            cursor: pointer;
      }
      &__more > span {
            position: relative;
            display: block;
            width: fit-content;
            text-align: right;
      }
      &__more > span::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0%;
            border-bottom: 3px solid #70bf73;
            transition: 0.2s;
      }
      &__more > span:hover:before {
            width: 100%;
      }

      &__more-disabled {
            display: none;
      }
}
.card {
      position: relative;
      overflow: hidden;
      padding: 22.65% 0 0 0;
      max-height: fit-content;

      &__image {
            position: absolute;
            z-index: 1;
            top: 0;
            width: 72%;
            height: 75%;
            object-fit: cover;
      }

      &__text {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 2;
      }

      &__title {
            position: relative;
            font-family: "Oswald-Light", sans-serif;
            font-weight: 300;
            font-size: 48px;
            line-height: 148%;
            letter-spacing: 3.072px;
            text-transform: uppercase;
            color: #252525;
            margin: 0 0 57px 0;
      }
      &__title-active {
            text-decoration: 3px line-through #70bf73;
            animation-name: lineappear;
            animation-duration: 0.2s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
      }
      @keyframes lineappear {
            0% {
                  text-decoration: 3px line-through transparent;
            }
            100% {
                  text-decoration: 3px line-through #70bf73;
            }
      }

      &__body {
            display: flex;
            flex-direction: column;
      }

      &__cathegory {
            font-family: "OpenSans-Light", sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 138.89%;
            letter-spacing: 1.152px;
            text-transform: capitalize;
            color: #252525;
            margin: 0 0 17px 0;
      }

      &__message {
            font-family: "OpenSans-Light", sans-serif;
            font-weight: 300;
            font-size: 13px;
            line-height: 177%;
            letter-spacing: 0.832px;
            color: #c2c2c2;
      }

      &__link {
            display: block;
            overflow: hidden;
            font-family: "OpenSans-Regular", sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 138.46%;
            letter-spacing: 0.832px;
            text-transform: uppercase;
            width: fit-content;
            color: transparent;
            margin: 20px 0 0 0;
      }

      &__link-active {
            color: #252525;
            position: relative;
            font-size: 13px;
            margin: 20px 0 0 0;
            transition: 0.2s;
      }
      &__link-active:hover {
            text-shadow: 0px 0px 5px #4caf50;
      }
      &__link-active::before {
            content: "";
            position: absolute;
            z-index: -1;
            border-bottom: 2px solid #4caf50;
            width: 0%;
            right: 66.25%;
            bottom: 45%;
            transition: 0.1s 0.1s;
      }
      &__link-active:hover:before {
            width: 33.75%;
      }
      &__link-active::after {
            content: "";
            position: absolute;
            z-index: 3;
            border-bottom: 2px solid #4caf50;
            width: 0%;
            right: 0%;
            bottom: 45%;
            transition: 0.1s;
      }
      &__link-active:hover:after {
            width: 66.25%;
            transition: 0.1s 0.1s;
      }
}

// -----------------------------------------FOOTER-----------------------------------------

// -----------------------------------------ADDITIONAL-------------------------------------

.disabled {
      display: none;
}
.visible {
      display: flex;
      animation-name: slidein;
      animation-timing-function: ease;
      animation-duration: 0.2s;
}
.active {
      position: fixed;
      animation-name: slidein;
      animation-timing-function: ease;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
}

@keyframes slidein {
      0% {
            left: 100%;
            top: 0;
      }
      100% {
            left: 0;
            top: 0;
      }
}
.unactive {
      animation-name: slideout;
      animation-timing-function: ease;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
}

@keyframes slideout {
      0% {
            left: 0;
            top: 38px;
      }
      100% {
            left: 100%;
            top: 38px;
      }
}

.active-burger-button {
      animation-name: slideleft;
      animation-timing-function: ease;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
}
@keyframes slideleft {
      0% {
            right: 0;
            top: auto;
      }
      100% {
            right: 40px;
            top: auto;
      }
}

.deactive-burger-button {
      animation-name: slideback;
      animation-timing-function: ease;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
}
@keyframes slideback {
      0% {
            right: 40px;
            top: auto;
      }
      100% {
            right: 0;
            top: auto;
      }
}

.deactivated {
      pointer-events: none;
      position: relative;
      z-index: -1;
}
